*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --fucshia: hsl(333, 100%, 43%);
    --fucshia2: hsla(333, 100%, 43%, 0.548);
    --white:hsl(0, 0%, 100%);
    --whitetransparent:hsla(0, 0%, 100%, 0.741);
    --gray:hsl(0, 8%, 91%);
    --blue:hsl(227, 65%, 16%);
    --blackTransparent:hsla(0, 0%, 0%, 0.822);
    --darkgray:hsl(0, 1%, 50%);
    --darkgray2:hsl(0, 1%, 22%);
    scroll-behavior: smooth;
}
html,body{
    height: 100vh;
    font-family: 'Raleway', sans-serif;
}
header{
    background-color: var(--blue);
    height: 64px;
    position: fixed;
    width: 100%;    
}
.container{
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container .name{
    display: flex;
    align-items: center;
    gap: 5px;
}
.name img{
    height: 44px;
    border-radius: 50%;
}
.name{
    font-size: 18px;
    color: var(--white);
    margin: 0 100px;
}
.item a{
    color: var(--fucshia);
    font-weight: 600;
    text-decoration: none;
}
.item a:hover{
    color: var(--white);
}
section{
    height: 100vh;
}
.welcome{
    background-image: linear-gradient(rgba(0, 0, 0, 0.818), rgba(0, 0, 0, 0.9)),url(./asset/background__welcome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.welcome h1{
    width: 400px;
    text-align: center;
    color: var(--white);
    font-weight: 700;
    font-size: 70px;
}
.welcome a{
    background-color: var(--fucshia);
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 50px;
    color: var(--white);
}
.welcome a:hover{
    color: var(--fucshia);
    background-color: var(--white);
    border: solid 1px var(--fucshia);
}

.acerca{
    padding: 10px;
    background-color: var(--gray);
}

.acerca .info{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
.personal{
    width: 33%;
    text-align: end;
}
.foto{
    width: 33%;
}
.foto img{
    width: 100%;
}
.progreso{
    width: 33%;
    display: block;
}
.progress {
    height: 35px;
    width: 100%;
    border: 1px solid var(--darkgray);
    border-radius: 5px;
    background-color: var(--darkgray2);
    margin-bottom: 15px;
}
 
.progress-bar {
    height: 100%;
    background: var(--darkgray);
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}
.progreso p{
    display: flex;
    justify-content: space-between;
}

.cv{
    height: 30%;
    display: flex;
    align-items: center;
}
.cv a{
    background-color: var(--fucshia);
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 50px;
    color: var(--white);
}
.cv a:hover{
    color: var(--fucshia);
    background-color: var(--white);
    border: solid 1px var(--fucshia);
}
.servicios{
    padding: 10px;
    height: 100vh;
}
.services{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}
.services h3{
    padding: 5px 10px;
    border-top: solid 2px var(--fucshia);
    border-bottom: solid 2px var(--fucshia);
    width: fit-content;
}
.info_uno, .info_dos{
    display: flex;
    justify-content: center; 
    gap: 30px;
    height: 40vh; 
}
.info_uno div, .info_dos div{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.info_uno svg, .info_dos svg{
    fill: var(--fucshia);
}

.portafolio{
    padding: 15px;
    height: 100vh;
    background-color: var(--gray);
}
.portfolio{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}
.portfolio h3{
    padding: 5px 10px;
    border-top: solid 2px var(--fucshia);
    border-bottom: solid 2px var(--fucshia);
    width: fit-content;
}
.projects{
    height: 80vh;
    margin: auto;
    display: grid;
    width: 60%;
    justify-content: center;
    grid-template-areas: 
    "uno dos tres"
    "cuatro cinco seis";
}
.project_1{
    grid-template-columns: uno;
    background-image: url(./asset/portfolio-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.project_2{
    grid-template-columns: dos;
    background-image: url(./asset/portfolio-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.project_3{
    grid-template-columns: tres;
    background-image: url(./asset/portfolio-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.project_4{
    grid-template-columns: cuatro;
    background-image: url(./asset/portfolio-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.project_5{
    grid-template-columns: cinco;
    background-image: url(./asset/portfolio-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
.project_6{
    grid-template-columns: seis;
    background-image: url(./asset/portfolio-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.project_1 .bg{
    height: 100%;
}
.project_2 .bg{
    height: 100%;
}
.project_3 .bg{
    height: 100%;
}
.project_4 .bg{
    height: 100%;
}
.project_5 .bg{
    height: 100%;
}
.project_6 .bg{
    height: 100%;
}
.bg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    text-align: center;
}

.bg .info{
    width: 90%;
    height: 90%;
    border: solid 1px white;
    color: white;
    opacity: 0;

}
.bg:hover{
    transition: 2s;
    box-shadow: inset 0 100vh 0 0 var(--fucshia2);
    transition: color .9s ease-in-out, box-shadow 1.5s ease-in-out;
}
.bg .info:hover{
    transition: opacity .9s ease-in-out, box-shadow 1.5s ease-in-out;
    opacity: 1;
}

.testimonio{
    padding: 15px;
    height: 100vh;
    background-image:linear-gradient(rgba(249, 245, 245, 0.5), rgba(253, 252, 252, 0.5)), url(./asset/hero-image-customers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.opinion{
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}
.opinion h3{
    padding: 5px 10px;
    border-top: solid 2px var(--fucshia);
    border-bottom: solid 2px var(--fucshia);
    width: fit-content;
}
.opinion_info{
    height: 40%;
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: var(--white);
    padding: 1% 2%;
    margin-top: 13%;
}
.opinion_info img{
    height: 50%;
    border-radius: 50%;
    padding: 3%;
}
.opinion_info h4{
    color: var(--fucshia);
    margin-top: 2%;

}
.opinion_info span{
    padding: 2%;
    font-size: 400%;
}
.contacto{
    padding: 15px;
    height: 100vh;
    text-align: center;
}
.contacto_info{
    margin: 2%;
    display: flex;
    gap: 2%;
    justify-content: space-around;
    text-align: center;
}
.contacto_info div{
    width: 23%;
    padding: 3% 5%;
    border: solid 2px var(--gray);
    border-radius: 15px;
    box-shadow: blue;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);     
    
}
.contacto_mensaje{
    width: 40%;
    height: 40%;
    margin: auto;
    border: solid 2px var(--gray);
    border-radius: 15px;
    box-shadow: blue;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);  
}

form{
    margin: 2% 0;
}
form input{
    border: none;
    border-bottom: solid 1px;
    margin-bottom: 1%;
    width: 48%;
}
form textarea{
    width: auto;
    margin-bottom: 2%;
}
.contacto_mensaje a{
    background-color: var(--fucshia);
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 50px;
    color: var(--white);
}

.contacto_mensaje a:hover{
    color: var(--fucshia);
    background-color: var(--white);
    border: solid 1px var(--fucshia);
}
footer{
    background-color: var(--blue);
    color: white;
    text-align: center;
    font-weight: 700;
}